---
global:
  scrape_interval: '5s'
scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets:
        - 'localhost:9090'

  - job_name: 'node'
    static_configs:
      - targets:
        - "{{ groups['prod'][0] }}:9100"

  - job_name: 'rmq'
    static_configs:
      - targets:
        - "{{ groups['prod'][0] }}:9419"

  - job_name: 'cadvisor'
    static_configs:
      - targets:
        - "{{ groups['prod'][0] }}:8080"

  - job_name: 'crawler-ui'
    static_configs:
      - targets:
        - "{{ groups['prod'][0] }}:8000"

  - job_name: 'crawler-app'
    static_configs:
      - targets:
        - "{{ groups['prod'][0] }}:8000"
rule_files:
  - "alerts.yml"

alerting:
  alertmanagers:
  - scheme: http
    static_configs:
    - targets:
      - "alert:9093"
